*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-image: linear-gradient(to right,rgba(106, 17, 203, 1), rgba(37, 117, 252, 0.8));
}

.welcome{
    /* border: 2px solid green; */
    font-size: 25px;
    color: #eee;
}

.profile{
    font-size: 20px;
    color: #eee;
}

.profile a{
    color: #ddd;
}

.profile a:hover{
    color: #fff;
}

.login-btn{
    font-size: 20px;
    border: 2px solid blueviolet;
    border-radius: 20px;
    background-color: #6a11cb;
    color: #ddd;
    
}

.all-table{
    /* border: 2px solid green; */
    margin: 30px 100px;
}

.assign-table{
    margin: 30px 100px;
    
}

.display{
    font-size: 25px;
    padding: 30px ;
}

.report h4{
    padding: 30px;
    border: 2px solid green;
}

details{
    padding: 30px 200px;
    display: flex;
}

.report-table{
    border: 2px solid green;
    padding:30px;
}

.custom-select{
    margin-top: 15px;
}


@media screen and (max-width:600px){
    
    .all-table{
        margin: 30px 50px;
    }
}