*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-image: linear-gradient(to right,rgba(106, 17, 203, 0.8), rgba(37, 117, 252, 0.3));
}

.welcome{
    /* border: 2px solid green; */
    font-size: 25px;
    color: #eee;
}

.profile{
    font-size: 20px;
    color: #eee;
}

.profile a{
    color: #ddd;
}

.profile a:hover{
    color: #fff;
}

.login-btn{
    font-size: 20px;
    border: 2px solid blueviolet;
    border-radius: 20px;
    background-color: #6a11cb;
    color: #ddd;
    
}

